# Prerequisites
*.d

# Object files
**/Objects
*.o
*.ko
*.obj
*.elf
*.crf
*.Scr
*.iex
*.axf
*.htm


# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# others
/哨兵云台60°响应测试/*
/云台电机pid参数粗调/*
*.md
*.docx
*.xclx
*.pptx
*.vsdx
*.pdf
*.PDF
!README.md
